# Git
.git
.gitignore

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/

# Jupyter Notebook
.ipynb_checkpoints

# Model files (optional)
#*.pkl
#*.pt
#*.pth
#*.bin
#*.h5

# Editor files
.idea/
.vscode/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Large data files
data/large_files/
*.csv
*.npy
*.npz
*.json
*.jsonl
!data/dataset.jsonl

# Logs
logs/
*.log

# MLflow
mlruns/
